body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #EBEBEB;
}

.nav-link {
    color: #333 !important;
}

#cabecalho .nav .nav-link.active {
    color: #333;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.nav-cardapio button {
    color: #333 !important;
}

.nav-cardapio button.active {
    color: #fff !important;
}

.navbar-toggler {
    background-color: #fff;
}

.btn-home {
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 40px;
    font-size: 18px;
}

.btn-home:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.texto-home {
    font-size: 12px;
}

.titulo-home {
    font-size: 100px;
    color: #000;
}

.info-home {
    cursor: pointer;
}

.section-title {
    font-family: 'inter', cursive;
}

#sobre {
    background-color: #EBEBEB;
}

.text-colored {
    color: #b7a0fc;
}

h2 {
    letter-spacing: .1rem;
}

.fundo-eventos {
    color: #111;
    background-color: #ede8f9; 
    /* d5c7fe */
    border-radius: 0 0 10px 10px;
}

.imagem-eventos {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.swipe  {
    font-size: 12px;
    cursor: pointer;
}

.swipe:hover  {
    text-decoration: underline;
}

/* serviços */

.item-servicos p {
    color: #fff;
}

.imagem-serviços {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.btn-serviços {
    width: 100%;
    border-radius: 100px;
    background-color: #edeafa;
}

#cardapio {
    background-color: #e8ebe1;
}

#services .nav-link.active  {
    background-color: #333 !important;
    color: #e0d6fe;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    color: #333;
    background-color: #e0d6fe;
}

.nav-cardapio .nav-link:hover {
    color: #b7a0fc;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {

    .titulo-home {
        font-size: 80px;
    }

    .imagem-eventos {
        height: 380px;
    }


    .imagem-serviços {
        height: 300px;
    }
}