body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #EBEBEB;
}

.navbar-toggler {
    color: white !important;
}

h2 {
    letter-spacing: -.14rem;
}

.navbar {
    letter-spacing: -.05rem;
}

h3 {
    font-family: 'PT serif', serif;
    font-size: 20px;
}

.nav-link.active {
    color: #fff !important;
    background-color: #9c81ec !important;
}

.nav-link {
    color: #333 !important;
    background-color: transparent !important;
    border-radius: 100px !important;
}

#cabecalho .nav .nav-link.active {
    color: #333;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.btn-home {
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 40px;
    font-size: 18px;
}

.btn-home:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
}

.texto-home {
    font-size: 12px;
    font-family: 'PT serif', serif;
}

.titulo-home {
    font-size: 100px;
    color: #000;
}

.info-home {
    cursor: pointer;
}

.section-title {
    font-family: 'inter', sans-serif;
}

#about {
    background-color: #EBEBEB;
}

.text-colored {
    color: #9c81ec;
}

.fundo-team {
    color: #111;
    background-color: #e5dbff; 
    /* d5c7fe */
    border-radius: 0 0 10px 10px;
}

.imagem-team {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.swipe  {
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    color: #333;
}

.swipe:hover {
    color: #000;
}

/* services */

.item-servicos p {
    color: #fff;
}

.imagem-services {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.btn-services {
    width: 100%;
    border-radius: 100px;
    background-color: #edeafa;
}

.btn-services:hover {
    background-color: #b7a0fc;
}

#services {
    background-color: #EBEBEB;
}

#services .nav-link.active  {
    background-color: #333 !important;
    color: #e0d6fe;
}

.nav-link.active,
#contact button {
    color: #333;
    background-color: #e0d6fe;
}

.nav-link:hover {
    color: #b7a0fc;
}

/* fale conosco */
#contact {
    background-color: #111;
    color: #fff;
}

.social-links {
    color: #fff !important;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn-contact {
    width: 200px !important;
    border-radius: 100px;
    background-color: #fff !important;
}

.btn-contact:hover {
    background-color: #b7a0fc !important;
}

/* footer */

.footer {
    padding: 10em 2em;
    background-color: #000;
}

.footer li {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    padding: 10px 20px;
}

.footer li a {
    text-decoration: underline;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.footer span {
    color: #666;
}

.icones-footer {
    color: #666 !important;
}

.icones-footer:hover {
    color: #fff !important;
}

.typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.typewriter-effect > .text {
    max-width: 0;
    animation: typing 3s steps(var(--characters)) infinite;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

.typewriter-effect::after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
}

.quebra-linha {
    content: ' ';
    display: block;
}

@keyframes typing {
    75%,
    100% {
        max-width: calc(var(--characters) * 1ch);
    }
}

@keyframes blink {
    0%,
    75%,
    100% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}

@media (max-width: 767px) {

    .titulo-home {
        font-size: 60px;
    }

    .imagem-team {
        height: 380px;
    }

    .imagem-services {
        height: 300px;
    }

    .nav-link {
        text-align: center !important;
    }

    .btn-contact {
        width: 100% !important;
    }

    .info-contact {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .titulo-home {
        font-size: 65px;
    }

    .nav-link {
        text-align: center !important;
    }
}