body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #EBEBEB;
}

.nav-link {
    color: #333 !important;
}

#cabecalho .nav .nav-link.active {
    color: #333;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.btn-home {
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 40px;
    font-size: 18px;
}

.btn-home:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.texto-home {
    font-size: 12px;
}

.titulo-home {
    font-size: 100px;
    color: #000;
}

.info-home {
    cursor: pointer;
}

.section-title {
    font-family: 'inter', cursive;
}

#sobre {
    background-color: #EBEBEB;
}

.text-colored {
    color: #b7a0fc;
}

.fundo-eventos-1 {
    color: #111;
    background-color: #fbc7fb;
    border-radius: 0 0 10px 10px;
}

.fundo-eventos-2 {
    color: #111;
    background-color: #ffb597;
    border-radius: 0 0 10px 10px;
}

.fundo-eventos-3 {
    color: #111;
    background-color: #90c69d;
    border-radius: 0 0 10px 10px;
}

.imagem-eventos {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.swipe  {
    font-size: 12px;
    cursor: pointer;
}

.swipe:hover  {
    text-decoration: underline;
}

/* serviços */
.item-servicos {
    background-color: #828282;
}

.item-servicos p {
    color: #fff;
}

#cardapio {
    background-color: #EBEBEB;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    color: #fff;
    background-color: orange;
}

.nav-cardapio .nav-link:hover {
    color: orange;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    
}